body {
	background: rgb(255, 255, 255);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 18px;
	color: gray;
	margin-left: 40px;

}

header {
	margin-top: 75px;
}

footer {
	font-size: 16px;
	font-style: italic;
}

h1 {
	color:darkgray;
}

h2 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;	
	color:darkgray;
}

.img_padrao {
	margin-bottom: 10px;
	width: 300px;
}